.project-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;

  .project-title {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.filters {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-bottom: 32px;
  padding-left: 0px;
  padding-right: 0px;

  @include media($tablet) {
    margin-bottom: 30px;
    justify-content: center;
  }

  @include media($desktop) {
    margin-bottom: 50px;
  }

  .filters-type {
    margin-bottom: 8px;
    &:not(:last-child) {
      margin-right: 8px;
    }
    @include media($tablet) {
      margin-bottom: 0;
    }
  }

  .filter-button {
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 6px 22px;
    min-width: 73px;
    cursor: pointer;

    background-color: $background-grey-color;
    color: $title-text-color;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;

    transition-property: border, background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      border: 1px solid $accent;
      background-color: $accent;
      color: $white-text-background-color;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;

  .project-item {
    margin-bottom: 30px;

    @include media($tablet) {
      width: calc((100% - 30px) / 2);
      margin-right: 30px;

      @media screen and (max-width: 1199px) {
        &:nth-child(2n) {
          margin-right: 0;
        }

        &:nth-last-child(-n + 2) {
          margin-bottom: 0;
        }
      }
    }

    @include media($desktop) {
      width: calc((100% - 30px * 2) / 3);

      &:nth-child(3n) {
        margin-right: 0;
      }

      &:nth-last-child(-n + 3) {
        margin-bottom: 0;
      }
    }
  }
}

.project-card {
  display: block;
  text-decoration: none;
  margin: 0;
  padding: 0;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .overlay,
  &:focus .overlay {
    transform: translateY(0);
  }
}

.project-box {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;

  & > img {
    display: block;
    width: 100%;
  }

  & > .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $background-overlay;

    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 63px 24px;

    font-size: 18px;
    line-height: 1.55;
    color: $white-text-background-color;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.project-text {
  padding: 20px 24px;
  border-right: 1px solid $border-color;
  border-left: 1px solid $border-color;
  border-bottom: 1px solid $border-color;

  .project-name {
    margin-top: 0px;
    margin-bottom: 4px;
    color: $title-text-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  .project-type {
    margin-top: 0px;
    margin-bottom: 0px;
    color: $primary-text-color;
    font-size: 16px;
    line-height: 1.87;
  }
}
