.button {
  border: 1px solid $accent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  cursor: pointer;

  background-color: $accent;
  color: $white-text-background-color;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
}

.checkbox {
  margin-top: 20px;
  margin-bottom: 30px;

  &-lable {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 12px;
    line-height: 1.17px;

    align-items: center;
    letter-spacing: 0.03em;

    @include media($desktop) {
      font-size: 14px;
    }
  }

  &-input {
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:checked + .checkbox-icon {
      border-color: $accent;
      background-size: contain;
      background-color: $accent;
      background-image: url(../images/icon/icon-check.svg);
      background-origin: border-box;
    }
  }

  &-link {
    margin-left: 3px;
    font-size: inherit;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: $accent;
  }

  &-icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 7px;

    border: 1.5px solid $title-text-color;
    border-radius: 1.5px;
  }
}
