.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.display-flex {
  display: flex;
  align-items: center;
}

.padding-zero {
  @include media($desktop) {
    padding-bottom: 0px;
  }
}

.mobile-hidden {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}
