$primary-text-color: #757575;
$title-text-color: #212121;
$accent: #2196f3;
$white-text-background-color: #ffffff;
$logo-text-dark-color: #000000;

$background-grey-color: #f5f4fa;
$background-footer-color: #2f303a;
$mail-tell-foter-color: rgba(255, 255, 255, 0.6);
$background-footer-link: rgba(255, 255, 255, 0.1);
$background-lable: rgba(47, 48, 58, 0.8);
$background-overlay: rgba(33, 150, 243, 0.9);
$background-modal: rgba(0, 0, 0, 0.2);

$border-color: #eeeeee;
$nav-border-color: #ececec;
$svg-social-client-color: #afb1b8;

$main-font-family: Roboto, sans-serif;

// breakpoints
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
